<ejs-grid #grid [dataSource]="data" [allowPaging]='true' [allowSorting]='true' [allowFiltering]='true'
    [filterSettings]='filterSettings' [allowGrouping]='true' (rowSelected)="onRowSelected($event)">
    <e-columns>
        <e-column field="Name" headerText="Name"></e-column>
        <e-column field="Code" headerText="Code"></e-column>
        <e-column field="Rate" headerText="Rate"></e-column>
    </e-columns>
</ejs-grid>

<ejs-dialog id='dialog' #ejDialog showCloseIcon='true' [target]='targetElement' width='250px'>
    <ng-template #dialogContent>
        <form #form="ngForm">
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="selectedRecord.Name" required>
          </div>
          <div>
            <label for="code">Code:</label>
            <input type="text" id="code" name="code" [(ngModel)]="selectedRecord.Code" required>
          </div>
          <div>
            <label for="rate">Rate:</label>
            <input type="text" id="rate" name="rate" [(ngModel)]="selectedRecord.Rate" required>
          </div>
        </form>
      </ng-template>
      <ng-template #dialogButtons>
        <button class="e-control e-btn" (click)="saveRecord()">Save</button>
      </ng-template>
</ejs-dialog>